/**********************************************
Stylesheet: Main Stylesheet
***********************************************/
/*********************
IMPORTING PARTIALS
*********************/
/******************************************************************
Stylesheet: Typography
******************************************************************/
/*********************
FONT FACE
*********************/
@font-face {
  font-family: 'Tilde';
  src: url("./../fonts/tilde-regular.woff2") format("woff2"), url("./../fonts/tilde-regular.woff") format("woff"); }

/*********************
BORDER RADIUS
*********************/
/*********************
TRANSFORM
*********************/
/*********************
IMPORTING MODULES
*********************/
/*********************
BASE (MOBILE) SIZE
*********************/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Tilde";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14.4px;
  background-color: #364652; }
  html *, body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: normal;
    font-family: "Tilde";
    line-height: 1.3;
    color: #C9BA97;
    font-size: 1.12em; }
  html h1, body h1 {
    font-size: 2em;
    color: #fff;
    line-height: 1.1em;
    margin-bottom: 0.55em; }
  html figure, body figure {
    margin: 0; }
  html *:focus, body *:focus {
    outline: none; }
  html *, body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  html a, body a {
    text-decoration: none;
    color: inherit; }
    html a:hover, body a:hover {
      color: #fff;
      -webkit-transition: color 0.4s ease-in-out;
      -o-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out; }
  html img, body img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom; }
  html ul, body ul {
    padding-left: 0;
    margin: 0;
    margin-bottom: -0.5em; }
    html ul li, body ul li {
      list-style-type: none;
      color: rgba(255, 255, 255, 0.4);
      line-height: 2em; }
  html #logo, body #logo {
    width: 150px;
    max-width: 30vw; }
  html section, body section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
    html section > div, body section > div {
      min-height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      text-align: left;
      padding: 6.25vw; }
      html section > div.image-section, body section > div.image-section {
        background-image: url("./../images/bg.jpg");
        background-size: cover;
        background-position: center;
        -ms-grid-column: 2; }

/*********************
LARGER MOBILE DEVICES
*********************/
/*********************
TABLET & SMALLER LAPTOPS
*********************/
/*********************
IPAD LANDSCAPE & SMALL DESKTOPS
*********************/
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px; }
    body h1 {
      font-size: 4em; }
    body h2 {
      font-size: 1.4em; }
    body section {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; }
      body section > div {
        padding: 6.25vw; } }

/*********************
DESKTOP
*********************/
/*********************
LARGE VIEWING SIZE
*********************/
