/**********************************************
Stylesheet: Main Stylesheet
***********************************************/
/*********************
IMPORTING PARTIALS
*********************/
/******************************************************************
Stylesheet: Typography
******************************************************************/
/*********************
FONT FACE
*********************/
/*********************
BORDER RADIUS
*********************/
/*********************
TRANSFORM
*********************/
/*********************
IMPORTING MODULES
*********************/
/*********************
BASE (MOBILE) SIZE
*********************/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  color: #9c9b9b; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.3; }

h1 {
  font-size: 1.7em; }

figure {
  margin: 0; }

*:focus {
  outline: none; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.wrap {
  width: 90%;
  margin: 0 auto; }

.full {
  width: 100%;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

main {
  background: #283333;
  width: 100%;
  height: 100%; }

/*********************
LARGER MOBILE DEVICES
*********************/
/*********************
TABLET & SMALLER LAPTOPS
*********************/
/*********************
IPAD LANDSCAPE & SMALL DESKTOPS
*********************/
/*********************
DESKTOP
*********************/
/*********************
LARGE VIEWING SIZE
*********************/
