/**********************************************
Stylesheet: Main Stylesheet
***********************************************/

/*********************
IMPORTING PARTIALS
*********************/

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// import mixins
@import "partials/mixins";

/*********************
IMPORTING MODULES
*********************/

// buttons
@import "modules/buttons";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
IPAD LANDSCAPE & SMALL DESKTOPS
*********************/
@media only screen and (min-width: 1024px) {

	// styles in 1030up.scss
	@import "breakpoints/1024up";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query
