body {
  font-size: $base-font-size;

  h1 {
    font-size: $header-size;
  }

  h2 {
    font-size: $sub-header-size;
  }

  section {
    grid-template-columns: 1fr 1fr;

    & > div {
      padding: $spacing;
    }
  }
}
