html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size * 0.8;
  background-color: $background-color;


  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: $font-family;
    line-height: 1.3;
    color: $sub-header-color;
    font-size: $sub-header-size * 0.8;
  }

  h1 {
    font-size: $header-size / 2;
    color: $header-color;
    line-height: $header-line-height;
    margin-bottom: $header-line-height / 2;
  }

  figure {
    margin: 0;
  }

  *:focus {
    outline: none;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $header-color;
      transition: color 0.4s ease-in-out;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  ul {
    padding-left: 0;
    margin: 0;
    margin-bottom: -0.5em;

    li {
      list-style-type: none;
      color: $off-white;
      line-height: 2em;
    }
  }

  #logo {
    width: $logo-width;
    max-width: $logo-width-mobile;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;

    & > div {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      text-align: left;
      padding: $spacing;

      &.image-section {
        background-image: $background-image;
        background-size: cover;
        background-position: center;
        -ms-grid-column: 2;
      }
    }
  }
}
