/******************************************************************
Stylesheet: Typography
******************************************************************/

/*********************
FONT FACE
*********************/


// font stacks

@font-face {
  font-family: 'Tilde';
  src:  url('./../fonts/tilde-regular.woff2') format('woff2'),
        url('./../fonts/tilde-regular.woff') format('woff');
}
