// Brand colours
$navy-blue: #364652;
$gold: #C9BA97;
$white: #fff;
$off-white: rgba($white, 0.4);


// Config
$font-family: 'Tilde';
$base-font-color: $off-white;
$base-font-size: 18px;
$header-color: $white;
$header-size: 4em;
$header-line-height: 1.1em;
$sub-header-color: $gold;
$sub-header-size: 1.4em;
$background-color: $navy-blue;
$background-image: url('./../images/bg.jpg');
$spacing: 100vw / 16;
$logo-width: 150px;
$logo-width-mobile: 30vw;
